* {
    /* backgrounds */
    bg:                 #f9f9ff;
    bg-trans:           #f9f9ff4a;

    bg-alt:             #eeedf4;
    bg-alt-trans:       #eeedf45a;

    bg-hover:           #e8e7ef;

    bg-selected:        #d8e2ff;
    bg-selected-trans:  #d8e2ff8a;

    /* primary cyber accent */
    cyan:               #6e82af;
    cyan-trans:         #6e82af5a;
    cyan-dim:           #455e91;

    blue:               #575e71;

    /* secondary cyber accent */
    violet:             #715573;
    magenta:            #fcd7fb;

    /* text */
    text:               #1a1b20;
    text-dim:           #44474f;
    white:              #1a1b20;

    /* status */
    red:                #ba1a1a;
    green:              #575e71;
    yellow:             #715573;

    /* borders */
    border:             #455e91;

    /* highlights */
    highlight-cyan:     bold #6e82af;
    highlight-violet:   bold #715573;
}
