
layout {
    focus-ring {
        active-color "#455e91"
        inactive-color "#e8e7ef"
    }

    border {
        active-color "#455e91"
        inactive-color "#e8e7ef"
        urgent-color "#ba1a1a"
    }
}
