
layout {
    focus-ring {
        active-color "{{colors.primary.default.hex}}"
        inactive-color "{{colors.surface_container_high.default.hex}}"
    }

    border {
        active-color "{{colors.primary.default.hex}}"
        inactive-color "{{colors.surface_container_high.default.hex}}"
        urgent-color "{{colors.error.default.hex}}"
    }
}
